# Environments
.env

venv/
.venv/
.pixi/
pixi.lock
GEMINI.md
# Frontend
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Backend
__pycache__/
*.py[cod]
*.so
.runtime/

# IDE
.vscode/
.idea/

# Custom
.geminiignore

nohup.out
*.log